{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="https://www.gravatar.com/avatar/7037e0cdf96cd3d4ad39b6c32ca29bd7?s=200" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="https://www.gravatar.com/avatar/7037e0cdf96cd3d4ad39b6c32ca29bd7?s=200" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
